<% provide(:title, "About") %>
<h1>About | DMO Team Management Software</h1>
<p>
  Program to coordinate resources required for On Call DMO service in Central Australia. <br> 
  Relevant information is visible to all participants in real time via a web interface. 
  Richard Hosking Dec 2016
</p>