<footer class="footer">
  <small>
    <a href="https://dmo-team-mangement-software.herokuapp.com/">DMO Team Management Software</a>
    by Richard Hosking
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
 
    </ul>
  </nav>
</footer>